#html_block_9 .flex-item-tiers.padding40{
   padding: 300px 0 0 0;
    background: transparent;
    
}
#html_block_9 .flex-item-tiers.padding40 img
{
width:100% !important;
}
#html_block_9
{
	padding-right: 30px;
}
