/** GENERAL **/

@font-face {
    font-family: "Bebas Neue Pro";
    src: url("../fonts/Bebas/BebasNeueProRegular.otf") format("opentype");
}

@font-face {
    font-family: "Bebas Neue Pro Book";
    src: url("../fonts/Bebas/BebasNeueProBook.otf") format("opentype");
}

@font-face {
    font-family: "Bebas Neue Pro Italic";
    src: url("../fonts/Bebas/BebasNeueProItalic.otf") format("opentype");
}

@font-face {
    font-family: "Bebas Neue Pro Bold";
    src: url("../fonts/Bebas/BebasNeueProBold.otf") format("opentype");
}

@font-face {
    font-family: "Resolve Italic";
    src: url("../fonts/Resolve/Resolve-ExtraboldCnIta.otf") format("opentype");
}

@font-face {
    font-family: "Resolve Medium";
    src: url("../fonts/Resolve/Resolve-MediumCn.otf") format("opentype");
}

* {
    font-family: 'Bebas Neue Pro', serif;
}

p, a {
    font-size: 1.2rem;
}

body {
    overflow-x: hidden !important;
}

#header {
    box-shadow: none;
}

.hidden {
    display: none;
}

.bold {
    font-family: 'Bebas Neue Pro Bold', serif;
}

h1, .h1 {
    font-size: 2.375rem
}

h2, .h2 {
    font-size: 2.3125rem
}

h3, .h3 {
    font-size: 2.125rem
}

h4, .h4 {
    font-size: 2.125rem
}

h5, .h5 {
    font-size: 2rem
}

h6, .h6 {
    font-size: 1.9375rem
}

.c-white {
    color: white !important;
}

.slick-arrow:before {
    content: '' !important;
    background: url("/img/c/slick-right.png") center no-repeat;
    position: absolute;
    right: 10px;
    width: 30px;
    height: 30px;
    top: 0;
}

.slick-prev.slick-arrow:before {
    background: url("/img/c/slick-left.png") center no-repeat;
    right: unset;
    left: 10px;
}

.white-arrow .slick-prev.slick-arrow:before {
    background: url("/img/c/slick-left-white.png") center no-repeat;
}

.white-arrow .slick-next.slick-arrow:before {
    background: url("/img/c/slick-right-white.png") center no-repeat;
}

.text-arrow .slick-arrow {
    top: 125px;
}

.c-yellow {
    color: #FFEA00 !important;
}

.italic {
    font-family: "Resolve Italic", Sans-serif;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left !important;
}

.border-none {
    border: none !important;
}

.c-primary {
    color: #041322;
}

.c-white {
    color: white;
}

.bg-primary {
    background: #041322 !important;
}

.bg-light-dark {
    background: #1D2B38 !important;
}

.background-full-primary, #html_block_4 {
    position: relative;
}

.section-title {
    font-size: 2.8rem !important;
    text-transform: uppercase;
    margin: 20px 0;
}

.background-full-primary:after, #html_block_4:after {
    content: '';
    position: absolute;
    background: #041322;
    height: 100%;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    top: 0;
}

#product #html_block_4:after {
    background: rgba(4, 19, 34, .07);
}

p, strong, em, ul, li {
    color: #394867;
    font-family: 'BebasNeueProBook', Sans-serif;
    font-size: 1rem;
}

#product h1 {
    font-family: "Bebas Neue Pro Italic";
    color: #041322;
}

#product .current-price-value {
    color: #041322;
    font-size: 2.3rem;
}

#product #html_block_4 * {
    color: black !important;
}

#product #html_block_4 .mariner-button {
    border-color: black
}

#product .product-quantity #quantity_wanted, .product-variants select, .bootstrap-touchspin .btn-touchspin {
    border: 2px solid black;
}

.bootstrap-touchspin .btn-touchspin {
    border-left: none;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

#wrapper {
    background: none;
}

.text-center {
    text-align: center;
}

.html_blocks_wrapper {
    margin: 0;
}

/** Bandeau Top **/
.bandeau-top p {
    margin: 0;
    padding: 15px;
}

.container {
    width: 100%;
    max-width: 1500px;
    margin: auto;
}

/** Reassurance **/
#block-reassurance ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.block-reassurance-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#block-reassurance .block-reassurance-item img {
    width: 80px;
    margin: 0 20px 20px;
}

#block-reassurance li .block-reassurance-item {
    padding-top: 0;
    max-width: 200px;
}

#block-reassurance li {
    max-width: 50%;
}

#block-reassurance li .block-reassurance-item span {
    font-size: 1.5rem;
}

/** category main **/
.categorysectionsmain-products {
    display: flex;
    flex-wrap: wrap;
}

.categorysectionsmain-products .item {
    width: 100%;
    padding: 10px;
    height: 300px;
}

.categorysectionsmain-products .item .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.categorysectionsmain-products .item .content h2 {
    margin: 0;
    display: none;
}

.featured-products {
    padding: 30px 0px 50px;
    margin-top: 0;
    border: none;
}

.featured-products.background-full-primary, .product-accessories {
    padding: 30px 30px 50px;
    margin-top: 0;
    border: none;
}

.featured-products .product-title a, .featured-products .price {
    color: white !important;
}

.featured-products .all-product-link {
    text-align: center;
    margin: auto;
    width: fit-content;
    display: flex;
    font-size: 1.2rem;
}

.wishlist-button-add {
    display: none !important;
}

.featured-products .thumbnail-container {
    background: none;
    text-align: left;
    color: white;
}

.featured-products .product-list-reviews, .featured-products .product-description {
    background: none;
}

.featured-products h3 a {
    font-size: 1.5rem !important;
}

.featured-products .price {
    font-size: 1.3rem !important;
}

.featured-products .all-product-link.mariner-button, .mariner-button {
    border: 1px solid white;
    color: white;
    padding: 20px 60px;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
    transition: .2s;
}

.featured-products .all-product-link.mariner-button:hover, .mariner-button:hover {
    background: white;
    color: #041322;
    border-color: #041322;;
}

.mariner-button.primary:hover {
    border: 1px solid white;
    background: #041322;
    color: white;
}

.mariner-button.primary {
    color: #041322;
    border-color: #394867;
}

/** Discover section **/
.discover-section .bg-primary {
    padding: 40px;
    width: 100%;
}

.discover-section {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.discover-section .bg-primary p {
    padding: 15px 0;
    font-size: 2.2rem;
    line-height: 2.2rem;
    font-family: "Resolve Medium";
}

.discover-section .bg-primary h2 {
    font-size: 2.8rem;
}


.discover-section .image-section {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 0;
}

.header-icons {
    min-width: 185px;
    display: flex;
    justify-content: flex-end;
}

.header-icons img {
    margin: 0 20px 20px;

}

.header-icons #_desktop_cart img {
    margin-right: 5px;
}

#header .header-nav .blockcart {
    padding: 0.5rem;
    background: none;
}

.header-icons .user-info {
    margin-top: 5px;
}

#_desktop_language_selector, #_desktop_currency_selector, #_mobile_currency_selector, #_mobile_language_selector {
    align-self: center;
    display: none;
}

#header .header-top-right {
    justify-content: center;
}

#header .header-top-right .menu {
    width: 100%;
    margin-left: 8%;
}

#header .header-top {
    padding: 0;
}

#header .header-top .top-menu {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

#header .header-top > .container > .row:first-of-type {
    align-items: flex-start;
}

/** Custom HTML BLOCKS **/

#pshomeslider .carousel-item {
    background-size: contain;
}

#html_block_2 img {
    max-width: 100%;
    height: auto;
}

#html_block_2 .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


#html_block_2 .row .mariner-button {
    display: block;
    width: fit-content;
}

#html_block_3, #html_block_2 {
    margin: 50px 0;
}


#html_block_3 .item {
    margin: 20px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center !important;
    background-size: cover !important;
}

#html_block_3 .item p, #html_block_3 .item a {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: white;
}

#html_block_3 .item p .price, #html_block_3 .item a .price {
    font-size: 4.5rem;
    margin-top: 2.5rem;
}

#html_block_4 {
    padding: 50px 20px;
}

#html_block_4 .item {
    background: white;
    margin: 30px;
    padding: 25px;
    min-height: 200px;
}

#html_block_4 .item p {
    margin-top: 20px;
}

.bandeau-top .html_block {
    margin: 0 !important;
}

.page-cms #content {
    max-width: 800px;
    margin: auto;
}

.page-cms #content video, .page-cms #content img, .page-cms #content iframe {
    max-width: 100%;
}

/** Blog **/
#module-prestablog-blog .prestablog_more {
    background: rgb(35, 35, 35);

}

#module-prestablog-blog .block-categories {
    display: none;
}

#module-prestablog-blog #prestablogfront a {
    font-family: 'BebasNeueProBook', Sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

#module-prestablog-blog #prestablogfront h2, #module-prestablog-blog #prestablogfront h3, #module-prestablog-blog #prestablogfront h4,
#module-prestablog-blog #prestablogfront h5, #module-prestablog-blog #prestablogfront h6 {
    text-align: left;
    border: none;
    margin-left: 0;
}

#module-prestablog-blog #prestablogfront h2 {
    font-size: 2rem;
}

#module-prestablog-blog .prestablogExtra {
    display: none;
}

/** Product **/
#wrapper .breadcrumb li::after {
    content: '>';
    color: #394867;
}

#wrapper .breadcrumb li a, #wrapper .breadcrumb li span {
    color: #394867;
    font-size: 1.2rem;
}

#wrapper .breadcrumb ol {
    text-align: center;
    margin: 15px 0;
}

#product #wrapper {
    padding-top: 0;
}

#product #wrapper .breadcrumb ol {
    margin: 15px 0 15px;
}

.block-category {
    min-height: unset;
    height: fit-content;
}

#product .product-description p {
    margin-bottom: .5rem;
    font-size: .9rem;
}

#product .product-prices div {
    margin-bottom: 0;
}

/** footer **/

#footer a {
    color: #466c7e;
    font-size: 1.2rem;
    margin: 15px 0;
    display: block;
}

#footer .h3 {
    font-size: 1.3rem !important;
}

#footer .newsletter-submit {
    position: absolute;
    top: 10px;
    right: calc(30% + 15px);
}

#footer .newsletter-submit i {
    font-size: 20px;
    cursor: pointer;
}

#footer .block_newsletter input {
    font-size: 16px;
    border-radius: 8px;
    width: 70%;
    margin: 0 15px;
}

#footer .social-networks ul svg {
    width: 25px;
    margin: 0 10px;
    height: 25px;
}

input:focus, textarea:focus, select:focus {
    border-color: #041322 !important;
    outline-color: #041322 !important;
}

/** PRODUCT CUSTOM **/
#blockcart-modal .product-name {
    color: #041322;
}


.custom-product-content .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.custom-product-content .row.reverse-mobile {
    display: flex;
    flex-direction: column-reverse;
}


.custom-product-content {
    margin: 20px 0 50px;
}

.custom-product-content .content {
    padding: 20px;
}

.custom-product-content img {
    max-width: 100%;
}

#product .js-thumb-selected {
    border-color: #041322;
}

#product .tax-shipping-delivery-label {
    display: inline;
}

#product .tabs, #product .card-block {
    padding: 0;
}

#products .page-not-found, #pagenotfound .page-not-found {
    margin: 0;
}

#product .nav-link.active {
    color: #041322;
    border-color: #041322;
}

#product .nav-link:hover {
    color: #041322;
    border-color: #041322;
}

#product .product-accessories .products {
    display: flex;
    justify-content: center;
}

#product .product-accessories .products .product {
    margin: 20px;
    max-width: 215px;
}

#product .product-accessories {
    text-align: center;
}

#product .product-accessories * {
    color: #041322;
}

#product .product-accessories .product-title a {
    font-size: 1.5rem;
    text-transform: capitalize;
}

#product .product-accessories .product-title {
    text-align: left;
}

.product-flags li.product-flag.discount-percentage, .product-flags li.product-flag.discount-amount, .product-flags li.product-flag.discount {
    background: #041322;
}

.background-full-primary .product-flags li.product-flag.discount-percentage, .product-flags li.product-flag.discount-amount, .product-flags li.product-flag.discount {
    color: #041322;
    background: white;
}

.has-discount .discount {
    background: #041322;
}

.btn-primary:not(.mariner-button) {
    background: #041322;
    border: 2px solid #041322;
    transition: .2s;
}

.btn-primary:not(.mariner-button):hover {
    background: white;
    color: #041322;
    border: 2px solid #041322;
}

#pshomeslider .pshomeslider-height {
    height: 220px;
    background: white;
}

#header .top-menu a[data-depth="0"]:hover, #header a:hover, #subcategories ul li:hover .subcategory-image a, #subcategories ul li .subcategory-name {
    color: #041322;
    border-color: #041322;
}

#faq-page .item h3 {
    position: relative;
    cursor: pointer;
}

#faq-page h2 {
    margin: 30px 0;
}

#faq-page {
    max-width: 700px;
    margin: auto;
}

#faq-page h3 {
    color: #022C59;
    padding-right: 40px;
}

#faq-page .item h3:before, #faq-page .item h3:after {
    content: '';
    position: absolute;
    right: 0.75em;
    top: 0.25em;
    width: 2px;
    height: 0.75em;
    background-color: #3b4858;
    -webkit-transition: all .2s;
    transition: all .2s;
}

#faq-page .item h3 {
    font-size: 1.4rem;
    margin: 20px 0;
}

#faq-page .item h3:after {
    transform: rotate(90deg);
}

#faq-page .item h3.open:before {
    transform: rotate(90deg);

}

.category-id-2 #left-column .block-categories, .category-id-2 #main #subcategories {
    display: none;
}

.product-miniature .thumbnail-container .product-thumbnail img {
    min-height: 250px;
}

#contact .form-control-label {
    width: fit-content;
    min-width: 165px;
    text-align: left;
}

#contact .btn.btn-default {
    background: #041322;
    border: 2px solid #041322;
    transition: .2s;
    font-size: 1rem;
    padding: 0.435rem 1rem;
}

#search .h2 {
    text-align: center;
}

#search .page-not-found {
    margin: auto;
}

#product .product-variants-item select.form-control:not([size]):not([multiple]) {
    display: inline;
}

.taille-cta {
    margin-left: 20px;
    color: black;
    text-decoration: underline;
    font-family: 'BebasNeueProBook', Sans-serif;
    font-size: 1rem;
}

@media only screen and (min-width: 768px) {
    #header .header-top a {
        color: #022C59 !important;
    }

    .discover-section {
        width: 100%;
    }

    .featured-products .product-price-and-shipping, .featured-products .product-title {
        text-align: left;
    }

    .discover-section .image-section {
        width: calc(50% + 5px);
    }

    #footer .block_newsletter input {
        margin: 0;
    }


    #pshomeslider .pshomeslider-height {
        height: 35vh;
    }

    .discover-section .bg-primary {
        padding: 40px;
        margin-left: 25px;
        height: 100%;
        width: calc(50% - 40px);
    }


    .logo.img-fluid, #header .logo {
        margin-top: -80px;
        max-width: 140%;
    }

    #search_widget {
        float: none;
        padding: 20px 30px;
    }

    #search_widget form {
        width: 90%;
    }

    #search_widget form input {
        background: #EFF1F6;
        border-radius: 23px;
        color: #022C59;
    }

    #search_widget form input::placeholder {
        color: #022C59;
    }

    #search_widget form i {
        right: 20px;
        color: #022C59;
        top: 3px;
    }

    #header .header-nav {
        border-bottom: 0;
    }

    .categorysectionsmain-products .item {
        width: 50%;
        background-size: cover;
    }

    .categorysectionsmain-products .item:first-child {
        width: 100%;
        padding: 10px 25px 10px 10px;
    }
}

/** cart **/
#cart .bootstrap-touchspin input.form-control, #cart .bootstrap-touchspin input.input-group {
    border: 2px solid black;
}

#cart .current-price {
    color: #041322;
}

#cart .bootstrap-touchspin {
    display: flex;
}

#header .header-nav .cart-preview.active {
    background: white;
}

.page-header h1 {
    text-align: center;
    color: #022C59;
}


#header .header-nav .cart-preview.active .cart-products-count {
    color: #041322;
}

/** form **/
form .form-control-label {
    font-size: 1.075rem;
}

.form-control-comment {
    font-size: 1rem;
}

.register-form > p {
    text-align: center;
}

.register-form .btn {
    font-size: 1rem !important;
    padding: 0.58rem 1rem !important;
}

.register-form > p a {
    color: #041322;
}

#authentication .custom-checkbox label {
    font-size: 1rem;
}

@media only screen and (min-width: 1024px) {
    #header .header-top .top-menu {
        justify-content: space-around;
    }

    .categorysectionsmain-products .item {
        width: 33%;
        padding: 10px;
        background-size: cover;

    }

    .custom-product-content .row.reverse-mobile {
        flex-direction: row;
    }

    .categorysectionsmain-products .item:first-child {
        width: 100%;
        height: 375px;

    }

    .categorysectionsmain-products .item:nth-last-child(2), .categorysectionsmain-products .item:nth-last-child(3) {
        width: 50%;
        padding: 10px 25px 10px 10px;
        height: 375px;
    }

    .custom-product-content .content {
        padding: 0 80px;
    }

    #html_block_3 .item {
        max-width: calc(33% - 40px);
    }
}

@media only screen and (min-width: 1200px) {
    .discover-section .image-section {
        max-height: 300px;
    }

    .featured-products .product {
        max-width: 20%;
    }

    #html_block_2 .row {
        margin: 40px 0;
    }

    #html_block_2 .row .content {
        padding-left: 40px;
    }

    #html_block_2 .row .content p {
        margin: 45px 0;
        font-size: 1.2rem;
        line-height: 1.8rem;
        color: #394867;
    }

    #pshomeslider .carousel-item {
        background-size: cover;
    }

    #pshomeslider .pshomeslider-height {
        height: 35vh;
    }


    #block-reassurance ul {
        justify-content: space-between;
    }

    #pshomeslider .pshomeslider-height {
        min-height: 600px;
    }
}

@media only screen and (min-width: 1400px) {

    #pshomeslider .pshomeslider-height {
        height: 45vh;
    }

}

@media only screen and (min-width: 1600px) {

    #pshomeslider .pshomeslider-height {
        height: 55vh;
    }

}

@media only screen and (min-width: 1920px) {
    #pshomeslider {
        max-width: 1920px !important;
        margin: 0 auto !important;
    }
}